* { 
  margin:0;
  padding:0;
}

body { 
  font-family:helvetica, arial, sans-serif;
  font-size:18px;
}

ul, li {
  list-style:none;
}

#container { 
  margin:1em auto;
  width:400px;
}

a:link, a:visited {
  color:#4AE7FC;
  text-decoration:none;
}

a:hover {
  color:#99F3FF;
}